body
{
background-color: rgb(255, 255, 255);
}


        #container
{
    background-color:rgb(255, 255, 255);
        color:rgb(255, 255, 255);
margin-left: auto;
    margin-right: auto;
text-align: center;
    width: 1090px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



    #header
{
background-color: rgb(255, 255, 255);
    height: 120px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding: 10px;
}



        #logo
{
width: 10px;
    height: 0px;
}



    #nav
{
float: right;
    background-color:  rgb(32, 47, 51);
color: rgb(0, 0, 0);
    width: 180px;
height:1633px; 
}


        #content
{ 
width: 910px;
    background-color: rgb(42, 44, 54);
height:260px;
    padding:3px;
}



    #footer
{
    background-color: rgb(78, 31, 31);
        clear: both;
    font-style: italic;
    font-size: 18px;
    width: 1090px;
}



        mark
{
background-color: rgba(211, 203, 203, 0);
padding: 7px;
}



    h4
{
font-family: 'Calibri';
    font-size: 22px;
}



        h3
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif bold;
    font-size: 26px;
background-color: rgba(177, 174, 174, 0);
    width: 1000px;

}



    .rotateimg90 
{
-webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
transform: rotate(90deg);
}



        h6
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
text-align: center;
    width:880px;
background-color: rgba(32, 47, 51, 0.592);
    padding: 15px;
}



    a
{
color:rgb(255, 255, 255);
    font-size: 28px;
text-align: right;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
text-shadow: 3px 3px rgba(0, 0, 0, 0.748);
}



iframe
{
text-align: center;
    padding: 10px;
}



        h1 

{       
font-size: 50px;
    background-color: rgb(255, 255, 255);
color: rgba(0, 0, 0, 0.864);
    padding: 10px;
    font-style: oblique;
    text-shadow: 3px 3px rgba(145, 145, 145, 0.748);
}


    h5
{
color:rgb(255, 255, 255);
    font-size: 50px;
text-align: center;
    font-family: 'Impact';
}

b
{
color:rgb(255, 255, 255);
    font-size: 20px;
text-align: center;
    
}

p
{
font-family: 'Impact';
    font-size: 32px;
color:  rgb(255, 255, 255);
    background-color: rgba(133, 133, 133, 0);
width: 180px;
text-shadow: 3px 3px rgba(0, 0, 0, 0.857);
    
}
 form 
 {
     width: 180px;
     height: 380px;
    color:  rgb(78, 31, 31);
    background-color:  rgb(32, 47, 51);
 }

button
{
    width: 70%;
    height: 20%;
    font-family: 'Arial';
    font-size: larger;
    color: rgba(255, 255, 255, 0.891);
    background-color: rgb(79, 23, 30) ;
}


textarea
{
    font-size: large;
    width: 120px; 
    height: 150px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.945);
    font-family:'Arial';
}

 input
 {
     font-family:'Arial';
     height:14%;
     width: 66%;
     font-size: large;
        color:  rgb(0, 0, 0);
        background-color:  rgba(255, 255, 255, 0.959);
 }

 #nav_1
 {
     float: left;
     background-color: rgb(32, 47, 51);
 color: rgb(0, 0, 0);
     width: 180px;
 height:1633px; 
 }
 